.table {
  width: 100%;
  border-collapse: collapse;
}

.thead {
  background-color: #dfdfdf;
  color: black;
  text-align: left;
}

.thead th {
  padding: 20px;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

.table tbody tr {
}

.table tbody td {
  border: 1px solid #ddd;
  padding: 20px 10px;
  text-align: center;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}
