.table_wrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  min-width: 1500px;
  border-collapse: collapse;
  overflow: scroll;
}

.thead {
  background-color: #dfdfdf;
  color: black;
  text-align: left;
}

.thead th {
  padding: 20px;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

.table tbody td {
  border: 1px solid #dfdfdf;
  padding: 10px;
  text-align: center;
  text-wrap: balance;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.table_options {
  border: 1px solid red;
  max-width: 130px !important;
}

.table_options button {
  border: 1px solid rgb(168, 168, 168);
  margin-left: 10px;
  padding: 8px 15px;
  color: inherit;
}

.modal_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal_content h2 {
  font-size: 24px;
}

.modal_content ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal_content ul li strong {
  font-size: 15px;
  text-transform: uppercase;
}

.modal_content ul li p {
  font-size: 16px;
  line-height: 35px;
  text-wrap: balance;
}

.modal_content ul li img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

@media (max-width: 900px) {
  .table tbody td {
    font-size: 14px;
    padding: 5px 10px;
  }

  .table_options {
    border: 1px solid red;
    max-width: 130px !important;
  }

  .modal_content {
    max-height: 500px;
    overflow-y: scroll;
    scrollbar-width: thin;
  }

  .modal_content ul li p {
    line-height: 30px;
  }
}
