.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
}

.label input {
  width: 100%;
  border: 1px solid rgb(159, 159, 159);
  height: 40px;
  padding: 5px 10px;
  font-family: inherit;
  border-radius: 5px;
}

.button {
  width: 100%;
  height: auto;
  padding: 10px 10px;
  min-height: 45px;
  font-family: inherit;
  border-radius: 5px;
  background: var(--red);
  color: white;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button .loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.textArea {
  width: 100%;
  min-height: 100px;
  border: 1px solid rgb(159, 159, 159);
  padding: 10px;
  font-family: inherit;
  border-radius: 5px;
  margin-top: 10px;
}

.inputImage {
  width: 100%;
  margin: 10px 0px;
}

.select {
  width: 100%;
  border: 1px solid rgb(159, 159, 159);
  background: white;
  border-radius: 5px;
  padding: 10px;
  font-family: inherit;
  font-size: 12px;
}
