.container {
  width: 100%;
  height: auto;
}

.container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 500px) {
  .container {
    width: 100%;
    height: auto;
    max-height: 135px;
    overflow: hidden;
  }
}
