.product {
  border: 1px solid rgb(236, 236, 236);
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 360px;
  height: auto;
  background: var(--foreground);
  padding: 10px;
  border-radius: 5px;
}

.container_img {
  min-width: 100px;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.product img {
  width: 100%;
  max-height: 100px;
  height: auto;
}

.product .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  padding: 0px 10px;
}

.info span {
  font-size: 20px;
}

.info p {
  font-size: 13px;
  color: #333333;
}

@media (max-width: 600px) {
  .product {
    min-width: 350px;
  }
}
